$header1: 2rem;
$header2: 3rem;
$header3: 2rem;
$header4: 1.5rem;
$text: 1.5rem;
$gradient: linear-gradient(left, #c456be, #c7a4bf);
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "intro";
